# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
dist/
build/

# 虚拟环境
venv/
.venv/
env/

# 环境变量（不要上传密码）
.env

# 数据库文件
*.db
*.sqlite3

# PyCharm IDE
.idea/
*.iml

# 日志
*.log
# pytest
.pytest_cache/

venv/
